build
include
modules
.deps
.libs
autom4te.cache
acinclude.m4
aclocal.m4
bfr.la
config.guess
config.h.in
config.h
config.log
config.nice
config.status
config.sub
configure
configure.ac
configure.in
install-sh
libtool
ltmain.sh
Makefile.global
Makefile
Makefile.fragments
Makefile.objects
missing
mkinstalldirs
php_bfr.lo
php_helpers.lo
run-tests.php

.vscode
